.App {
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}

.body2 {
  width: 50%;
  margin: 0 auto;
}

.body3 {
  width: 80%;
  margin: 0 auto;
}

.background1 {
  background-image: url("images/background1.png");
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.height1 {
  height: 200px;
}

.height2 {
  height: 50rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.button1 {
  margin: 10px;
}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
